extends layout.pug

block content
  h2.mt-5= title
  form(method="POST")
    .form-group
      label(for='tutor') Tutor Name
      input#name.form-control(type='text', placeholder='Enter tutor name', name="tutor", value=appointment.tutor)
    button.btn.btn-dark(type='submit')= command
