extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='../') About
  li.nav-item
    a.nav-link(href='./register') Sign Up

block content
  head
    style(type='text/css').
      .login-form {
      width: 340px;
      margin: 50px auto;
      }
      .login-form form {
      margin-bottom: 15px;
      background: ##f7be71;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      }
      .login-form h2 {
      margin: 0 0 15px;
      }
      .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
      }
      .btn {
      font-size: 15px;
      font-weight: bold;
      }
      .login-text {
      color:#343a40;
      }
  body
    .login-form
      form(method='post')
        p.login-text.text-center= message
        h2.text-center Find my Tutor
        .form-group
          input.form-control(type='text' placeholder='Username' required='required' name='username' value=login.username)
        .form-group
          input.form-control(type='password' placeholder='Password' required='required' name='password' value=login.password)
        .form-group
          button.btn.btn-dark.btn-block(type='submit') Login
        p.text-center
          a(href='./register' style='color: #343a40') Create an Account
